<string>Olá, {{ creator }}</string>
<p>Houve uma inscrição no seu meetup, confira os detalhes abaixo:</p>
<p>
  <strong>Usuário: </strong> {{ user }} <br />
  <strong>Data/hora do meetup: </strong> {{ date }} <br />
  <br />
</p>
